{% extends "base.html" %}

{% block content %}

    <div class="editpost">
        <div class="editpost__form">
            <form method="post" autocomplete="off">
              <div>
                <input autofocus class="form__input" placeholder="Title" type="text" name="subject" value="{{subject}}">
              </div>
              <div>
                <textarea class="form__textarea" placeholder="Tell your story..." type="text" name="content">{{content}}</textarea>
              </div>

              <div>
                <a href="/{{post_id}}">
                    <button class="button-outline">Cancel</button>
                </a>
                <input class="button-outline form__submit" type="submit" value="save">
              </div>
                <span class="form__message">{{error}}</span>
            </form>
        </div>
    </div>


{% endblock %}
