{% extends "base.html" %}

{% block content %}

    <div class="login">
        <h2 class="login__header">Login</h2>
        <p class="login__message">{{error}}</p>
        <div class="login__form">
            <form method="post">
              <div class="form-input">
                <label for="username">Username:</label>
                <input type="text" class="form-input" placeholder="Enter Username" name="username" value="{{username}}">
              </div>
              <div class="form-input">
                <label for="password">Password:</label>
                <input type="password" class="form-input" placeholder="Enter Password" name="password" value="">
              </div>
              <input class="form__submit" type="submit" value="login">

            </form>
        </div>
        <div class="login__footer">
			<a href="">Forgot your password?</a>
        </div>
    </div>


{% endblock %}
