
{% block content %}
<br>
<br>
<div class="post">
    <h1 class="post__title">
        <a href="/{{p.key().id()}}">{{p.subject}}</a>
    </h1>
    <div class="post__meta">

        <div class="meta__post">
            <div class="meta__post__author">by {{author}}</div>
            <div class="meta__post__date">{{p.created.strftime("%c")}}</div>
        </div>
    </div>

    <p class="post__content">
        {{p._render_text | safe}}
    </p>

    <div class="post__like">
        <a href="/{{p.key().id()}}/like"><button>Like</button>
        </a>
        <span class="like__count">{{p.likes}} </span>
    </div>

</div>
{% endblock %}
