{% extends "base.html" %}

{% block content %}
    <div class="signup">
        <h2 class="signup__header">Create Your Account</h2>
        <p class="signup__message">{{error}}</p>
        <div class="signup__form">
            <form method="post">
              <div class="form-input">
                <label for="username">Username:</label>
                <input type="text" class="form-input" placeholder="Enter Username" name="username" value="{{username}}">
              </div>
              <div class="form-input">
                <label for="password">Password:</label>
                <input type="password" class="form-input" placeholder="Enter Password" name="password" value="">
              </div>
              <div class="form-input">
                <label for="password">Verify Password:</label>
                <input type="password" class="form-input" placeholder="Enter Password again"  name="verify" value="">
              </div>
              <div class="form-input">
                <label for="email">Email Address:</label>
                <input type="text" class="form-input" placeholder="Enter Email (optional)"  name="email" value="{{email}}">
              </div>

              <input class="form__submit" type="submit" value="Signup">

            </form>
        </div>
    </div>


{% endblock %}
